<div class="main">
    <div class="chat-box">
        <div class="message-area">

            <div class="message" *ngFor="let message of messages" ng-class-odd="'question'">
                <div>
                    <span *ngIf="message.Employee !='0'" style="display: inline-block; width: 20%; text-align: center; vertical-align: top;">
                        <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="" width="40" height="40" />
                    </span>
                    <span *ngIf="message.Employee =='0'" style="display: inline-block; width: 20%; text-align: center; vertical-align: top;">
                        <img src="./assets/img/chatgpt.png" alt="" width="40" height="40" /></span>
                    <span style="display: inline-block; width: 80%; white-space:pre-wrap">
                        {{message.QuestionText}}
                    </span>
                </div>
            </div>
        </div>
        <div class="input-area justify-content-center" style="position: fixed; bottom: 11px; width: 1100px;">
            <form name="messageForm" class="d-flex">
                <input placeholder="Type your message" type="text" name="message" id="message"
                    class="form-control col-sm-8" [(ngModel)]="message" />

                <button type="button" class="btn btn-secondary mr-1 col-sm-1" (click)="sendMessage()">
                    Send
                </button>
            </form>
        </div>
    </div>
</div>
<!-- <button type="button" class="btn btn-secondary mr-1" (click)="testAPI()">
    TestAPI
</button> -->