<div class="form-froup row">
    <label class="col-sm-4 col-form-label">Department Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="DepartmentName" placeholder="Enter Department Name" />

    </div>
</div>
<button (click)="addDepartment()" *ngIf="dep.DepartmentId==0" class="btn btn-primary">Add</button>

<button (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0" class="btn btn-primary">Update</button>