<div class="container" *ngIf="currentUser">

	<h3 class="d-flex justify-content-center">Python Web API + Angular 13</h3>
	<h3 class="d-flex justify-content-center">Employee management Portal</h3>
	<div><a class="nav-item nav-link" (click)="logout()">Logout</a></div>
	<nav class="navbar navbar-expand-sm bg-light navbar-dart">
		<ul class="navbar-nav">
			<li class="nav-item">
				<button routerLink="department" class="m-1 btn btn-light btn-outline-primary" Button>Department</button>
			</li>
			<li class="nav-item">
				<button routerLink="employee" class="m-1 btn btn-light btn-outline-primary" Button>Employee</button>
			</li>
			<li class="nav-item">
				<button routerLink="chat" class="m-1 btn btn-light btn-outline-primary" Button>Chat</button>
			</li>
		</ul>
	</nav>

</div>
<!-- main app container -->
<div class="container">
	<router-outlet></router-outlet>
</div>